// color
$color-black-0: #1c1c1c;
$color-white-0: #fff;
$color-gray-bold: #505050;
$color-gray-light: #7a7a7a;
$color-gray-hover: #94a3b8;
$color-blue-0: #0000ee;
$color-red-0: #eb1010;

//fon-size
$fs-small: 12px;
$fs-medium: 14px;
$fs-text: 16px;
$fs-title: 30px;

//font-weight
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
